.welcome-message {
    background-color:oldlace;
    text-decoration-color: black;
}

.navbar-brand {
    font-family: cursive;
}

 #welcome-text {
    padding: 15% 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

